$black: #000000;
$dark: #222222;
$white: #ffffff;
$grey: #f3f5f8;
$lightGrey: #eff0f2;
$lightRed: #f2d8d9;
$lightBorderRed: #eddbdc;
$red: #ff001c;
$darkRed: #84121d;
$burgundy: #662a32;
$green: #007f2f;
$lightBlue: #61bcdc;
$orange: #ffc400;
