@import "./_colors.scss";

$font-family-default: "Arial";

$desktop-medium: 1440px;
$desktop-small: 1280px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 640px;

$borderRadius: 0.25rem;
$borderWidth: 0.125rem;
$boxShadow: 0 6px 6px rgba(0, 0, 0, 0.2);

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

#root {
  background-color: $white;
  min-height: 100%;
}

p {
  margin: 0
}
