@import "./_colors.scss";

$font-family-default: "Arial";

$desktop-medium: 1440px;
$desktop-small: 1280px;
$tablet: 1024px;
$tablet-portrait: 768px;
$mobile: 640px;

$maxWidth: 61.5rem;
$borderRadius: 0.25rem;
$borderWidth: 0.075rem;
$boxShadow: 0 6px 6px rgba(0, 0, 0, 0.2);
$boxShadowError: 0 0 1rem rgba(239, 2, 2, 0.2);

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: $font-family-default;
}

#root {
  background-color: $white;
  min-height: 100%;
  display: flex;
  justify-content: center;
}

p {
  margin: 0
}

#nprogress .bar {
  height: 4px !important;
}

#nprogress .spinner {
  left: 15px !important;
  right: unset !important;
}

#nprogress .spinner-icon {
  width: 24px !important;
  height: 24px !important;
  border-width: 4px !important;
}
