@import "styles/base";

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  label {
    cursor: pointer;
  }

  @media (max-width: $mobile) {
    font-size: .85rem;
  }
}
